@model ElectionTool.Models.AnswerEntryViewModel
@{
    ViewBag.Title = "Entry";
}

<h2>回答入力</h2>
<div class="row">
    <h3>質問内容</h3>
    <div class="col-md-8">
        @Model.Question.Text
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">

            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Answer, new { @class = "form-control" })
                    </div>
                </div>
                @Html.HiddenFor(m => m.Question.Id)
                @Html.HiddenFor(m => m.Question.Text)
                @Html.HiddenFor(m => m.Question.TweetId)
                <input type="submit" value="回答する" class="btn btn-primary btn-lg col-md-2" />
            }
        </div>
    </div>
