@model ElectionTool.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-9">
        <div class="jumbotron ">
            <h1>ASK ○○ 2014</h1>
            <p class="lead">候補者へ「趣味のこと」から「当選したらやりたい政策」まで何でも自由に直接質問できる、市民と候補者のためのウェブサービスです。「こんなことを聞いてもいいのかな？」なんて心配は要りません。せっかくのこの機会に、何か質問してみませんか？</p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>質問してみよう</h2>
                @if (Model.IsSucceeded)
                {
                    <div class="alert alert-success" role="alert">
                        質問を受け付けました。
                    </div>
                }
                @using (Html.BeginForm("Entry", "Question", FormMethod.Post))
                {
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextAreaFor(m => m.Question, new { @class = "form-control" })
                        </div>
                        <input type="submit" value="質問する" class="btn btn-primary btn-lg col-md-2" />
                    </div>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>質疑応答</h2>
            </div>
            @foreach (var candidate in Model.CandidateInfos)
            {
                <div class="col-md-4">
                    <div class="user" style="">
                        <img class="icon" src="@candidate.User.IconUri" />
                        <p class="candidatename">@(candidate.User.LastName + candidate.User.FirstName)候補</p>
                        <a href="http://twitter.com/@candidate.User.ScreenName">@@@candidate.User.ScreenName</a>
                    </div>
                    <div class="replycount" style="">@candidate.ReplyCount</div>
                    <div id="@candidate.User.Id" class="timeline" style="display:block;width: 100%"></div>
                </div>
            }
        </div>
    </div>

    <div class="col-md-3" style="margin-top: 8px">
        <a class="twitter-timeline" href="" data-widget-id="@Model.TwitterWidgetId"></a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
    </div>
</div>


@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".timeline").each(function () {
                var targetId = $(this)[0].id;
                $.ajax({
                    url: "/Candidate/Timeline?userId=" + targetId,
                    contentType: "application/html; charset=utf-8",
                    type: "GET",
                    dataType: "html"
                }).success(function (result) {
                    $("#" + targetId).html(result);
                });
            });
        });
    </script>
}
